.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pixelated-overlay {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100%;
  height: 100%;
}

.pixel-block {
  width: 100%;
  height: 100%;
  background-size: 2000% 2000%;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
}

.pixel-block.animate {
  animation: popIn 1s forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}